<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Tetapan
			</h3>

		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Tetapan Skim
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		 <form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="schemaForm" id="schemaForm" (ngSubmit)="onSubmit()">
          <div class="m-portlet__body">
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-3 col-sm-12">
								Nama Skim *
							</label>
							<div class="col-lg-4 col-md-9 col-sm-12">
								<input type="text" class="form-control m-input" formControlName="name" name="name" placeholder="">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-3 col-sm-12">
								Kekananan *
							</label>
							<div class="col-lg-4 col-md-9 col-sm-12">
								<select #schema formControlName="seniority" name="seniority">


										<option *ngFor="let schema of schemaCn" [value]="schema">
												{{schema}}
										</option>

								</select>
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-3 col-sm-12">
								Status
							</label>
							<div class="col-lg-4 col-md-9 col-sm-12">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="status" name="status" type="radio" value="Aktif">
												Aktif
												<span></span>
											</label>
                                    <label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="status" name="status" type="radio" value="Tidak Aktif">
												Tidak Aktif
												<span></span>
											</label>
                                </div>
                            </div>
						</div>

        	</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions m-form__actions">
							<div class="row">
								<div class="col-lg-9 ml-lg-auto">
									<button type="submit" class="btn btn-outline-success">
	                  Hantar
	                </button>
	                <button type="reset" class="btn btn-outline-danger" (click)="redirectSchemaPage()">
	                  Batal
	                </button>
								</div>
							</div>
						</div>
					</div>
      </form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->
</div>
