<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Pengesahan Kehadiran
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Coaching
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pengesahan Kehadiran
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Pengesahan Kehadiran
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right">
			<div class="m-portlet__body">

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Nama Peserta
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
							<input class="form-control m-input" disabled="disabled" placeholder="Muhammad Ali" type="email">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Agensi
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
							<input class="form-control m-input" disabled="disabled" placeholder="Kementerian Kesihatan Malaysia" type="email">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Email
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
						<input class="form-control m-input" disabled="disabled" placeholder="ali@kkm.com.my" type="email">
					</div>
				</div>
			</div>



			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Nama Coaching
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
							<input class="form-control m-input" disabled="disabled" placeholder="Sistem Pengurusan Kerjaya (SPK)" type="email">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Tarikh Mula Coaching
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
							<input class="form-control m-input" disabled="disabled" placeholder="25/10/2017" type="email">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Tarikh Tamat Coaching
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
							<input class="form-control m-input" disabled="disabled" placeholder="29/12/2017" type="email">
					</div>
				</div>

				</div>
			</div>

		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->

	<div class="m-portlet">

		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Pengesahan Kehadiran
					</h3>
				</div>
			</div>
		</div>



		<div class="m-portlet__body">
			<div class="col m--align-center">

											<div class="m-radio-inline">
												<label class="m-radio m-radio--bold m-radio--state-brand">
													<input name="example_3" type="radio" value="1">
													Hadir
													<span></span>
												</label>
												<label class="m-radio m-radio--bold m-radio--state-brand">
													<input name="example_3" type="radio" value="2">
													Tidak Hadir
													<span></span>
												</label>
											</div>

				<div class="form-group m-form__group row">
					<label class="col-3 col-form-label" for="example-text-input">
						Catatan (jika tidak hadir)
					</label>
					<div class="col-7">
						<textarea class="form-control m-input m-input" id="exampleTextarea" rows="3" placeholder="Catatan"></textarea>
					</div>
				</div>
			</div>

			<div class="col m--align-center">
				<a class="btn m-btn--pill btn-outline-success" href="#" ng-reflect-href="#">
					<span>Hantar</span>
				</a>
				<a class="btn m-btn--pill btn-outline-danger" href="#" ng-reflect-href="#">
					<span>Kembali</span>
				</a>
			</div>
		</div>
	</div>
</div>