<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Kehadiran Latihan Persijilan
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head">
					<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Maklumat Kehadiran
					</h3>
					</div>
				</div>
			<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form enctype="multipart/form-data" class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="certForm" id="certForm" (ngSubmit)="onSubmit()">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-3 col-form-label">
										Nama Peserta
									</label>
									<div class="col-7">
										<input class="form-control m-input" formControlName="name">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-3 col-form-label">
										Nama Persijilan
									</label>
									<div class="col-7">
										<input class="form-control m-input" formControlName="title">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-3 col-form-label">
										Status Latihan Persijilan *
									</label>
									<div class="m-form__group form-group">
											<div class="m-radio-list">
												<label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="statusResult" value="1" type="radio"> Lulus
													<span></span>
												</label>
												<label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="statusResult" value="2" type="radio"> Tidak Lulus
													<span></span>
												</label>
												<label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="statusResult" value="3" type="radio"> Lain-lain
													<span></span>
												</label>
											</div>
										</div>
								</div>
								<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Muat Naik Sijil
									</label>
									<div class="col-9">
										<label for="fileCert" class="btn btn-secondary m-btn m-btn m-btn--icon">
												<i class="la la-cloud-upload"></i> Sila Pilih
										</label>
										&nbsp;&nbsp;
										<span>{{certName}}</span>
										<span *ngIf="filestorage?.name ;else other">
											<a href="#" class="m--font-info" (click)="downloadCertificate(filestorage)">
												<i class="la la-download"></i>
											</a>
										</span>
										<input style="display:none" id="fileCert" (change)="fileChange($event)" #fileCert type="file"/>
										<p>
											<span class="m-form__help">
												Format fail:
											 <code>.pdf</code>
											</span>
										</p>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-3 col-form-label">
										Catatan
									</label>
									<div class="col-7">
										<textarea class="form-control m-input" formControlName="remarks" rows="5" placeholder="Catatan..."></textarea>
									</div>
								</div>
								<div class="col m--align-center">
									<button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn btn-outline-success">
					                  Hantar
					                </button>
					                <button type="reset" class="btn btn-outline-danger" (click)="redirectListPage()">
					                  Kembali
					                </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
