<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu ADMIN-->
	<div *ngIf="mode == 'ADMIN'" id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/index" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					PENTADBIR
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<!-- ################################################################################### -->
			<!-- #########################         ADMIN        #################################### -->
			<!-- ################################################################################### -->
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-cogwheel-2"></i>
					<span class="m-menu__link-text">
						Tetapan Global
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Tetapan Global
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/agency/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Agensi
								</span>
							</a>
						</li>
						<!-- <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/setting-grade/setting" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Grade
								</span>
							</a>
						</li> -->
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/grade-list/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Gred
								</span>
							</a>
						</li>
						<!-- <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/setting-schema/setting" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Schema
								</span>
							</a>
						</li> -->
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/schema-list/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Skema
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/setting-manday/setting" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Manday
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/technology/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Teknologi
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-text">
						Pengurusan Pengguna
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Pengurusan Pengguna
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/user-management/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Pengguna
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/user/application" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Permohonan Pengguna
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/role/approval" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Kelulusan Permohonan Peranan
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-list-2"></i>
					<span class="m-menu__link-text">
						Penilaian Kendiri
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Penilaian Kendiri
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/assesment/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Penilaian Kendiri
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-list-2"></i>
					<span class="m-menu__link-text">
						Penilaian Akhir
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Penilaian Akhir
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/feedback/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Penilaian Akhir
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-mortar-board"></i>
					<span class="m-menu__link-text">
						Latihan
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Latihan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/training/listing" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Latihan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/training/admin" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Kelulusan Latihan
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-certificate"></i>
					<span class="m-menu__link-text">
						Latihan Persijilan
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Latihan Persijilan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/cert/listing" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Persijilan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/cert/list/admin" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Kelulusan Persijilan
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-chat-1"></i>
					<span class="m-menu__link-text">
						Coaching
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Coaching
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/coaching/list/admin" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Coaching
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/coaching/completion" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Penamatan Coaching
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-trophy"></i>
					<span class="m-menu__link-text">
						Kepakaran
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Kepakaran
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/capability/listing" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Kepakaran
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/cap/list/admin" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Senarai Permohonan
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>


			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-multimedia-2"></i>
					<span class="m-menu__link-text">
						Prasarana
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Prasarana
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/infra-management/approval" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Kelulusan
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isAdmin" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-calendar-check-o"></i>
					<span class="m-menu__link-text">
						Laporan Kehadiran
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Laporan Kehadiran
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/training/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Latihan Teknikal
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/coaching/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Coaching
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/persijilan/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Latihan Persijilan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/cap/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Kepakaran
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
	<!-- BEGIN: Aside Menu COACH-->
	<div *ngIf="mode == 'COACH'" id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/indexUser" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					COACH
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<!-- ################################################################################### -->
			<!-- #########################         COACH        #################################### -->
			<!-- ################################################################################### -->
			<li *ngIf="isCoach" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/training/list/coach" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-mortar-board"></i>
					<span class="m-menu__link-text">
						Penilaian Latihan
					</span>
				</a>
			</li>
			<li *ngIf="isCoach" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a routerLink="/cert/list/coach" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-certificate"></i>
					<span class="m-menu__link-text">
						Penilaian Latihan Persijilan
					</span>
				</a>
			</li>
			<li *ngIf="isCoach" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a routerLink="/coaching/list/coach" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-chat-1"></i>
					<span class="m-menu__link-text">
						Penilaian Coaching
					</span>
				</a>
			</li>
			<li *ngIf="isCoach" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/cap/list/coach" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la 	la-trophy"></i>
					<span class="m-menu__link-text">
						Penilaian Kepakaran
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu COACH-->
	<!-- BEGIN: Aside Menu USER-->
	<div *ngIf="mode == 'USER'" id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/indexUser" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					PENGGUNA
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<!-- ################################################################################### -->
			<!-- #########################         USER        #################################### -->
			<!-- ################################################################################### -->

			<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/role/application" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-user-secret"></i>
					<span class="m-menu__link-text">
						Permohonan Perubahan Peranan
					</span>
				</a>
			</li>


			<li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/training/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-mortar-board"></i>
					<span class="m-menu__link-text">
						Permohonan Latihan
					</span>
				</a>
			</li>
			<li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/cert/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-certificate "></i>
					<span class="m-menu__link-text">
						Permohonan Latihan Persijilan
					</span>
				</a>
			</li>
			<li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/coaching/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-chat-1"></i>
					<span class="m-menu__link-text">
						Permohonan Coaching
					</span>
				</a>
			</li>
			<li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/cap/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la	la-trophy"></i>
					<span class="m-menu__link-text">
						Permohonan Kepakaran
					</span>
				</a>
			</li>

			<!-- <li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-car"></i>
					<span class="m-menu__link-text">
						Feedback
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Feedback
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/feedback/fb" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Feedback
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li> -->
			<li *ngIf="isUser" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  routerLink="/infra/list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-multimedia-2"></i>
					<span class="m-menu__link-text">
						Permohonan Prasarana
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu USER -->
	<!-- BEGIN: Aside Menu SUPERVISOR-->
	<div *ngIf="mode == 'SUPERVISOR'" id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/index" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					PENYELIA
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>

			<!-- ################################################################################### -->
			<!-- #########################      SUPERVISOR      #################################### -->
			<!-- ################################################################################### -->

			<li *ngIf="isSupervisor" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-chat-1"></i>
					<span class="m-menu__link-text">
						Coaching
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Coaching
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/coaching/list/supervisor" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Kelulusan Aktiviti Coaching
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li *ngIf="isSupervisor" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-calendar-check-o"></i>
					<span class="m-menu__link-text">
						Laporan Kehadiran
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  href="#" class="m-menu__link">
								<span class="m-menu__link-text">
									Laporan Kehadiran
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/training/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Latihan Teknikal
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/coaching/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Coaching
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/persijilan/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Latihan Persijilan
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/cap/laporan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot" >
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Kepakaran
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>

		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
