<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Prasarana
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Prasarana
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Permohonan Prasarana
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Permohonan Prasarana
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="infraForm" id="infraForm" (ngSubmit)="onSubmit()" >
			<div class="m-portlet__body">
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Nama Pemohon
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
						<input type="" class="form-control m-input" formControlName="pemohon" name="pemohon">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Agensi
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
						<input type="" class="form-control m-input" formControlName="agency" name="agency">
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Jenis*
					</label>
					<div class="col-5">
						<select class="form-control m-input" id="type" formControlName="type" name="type">
							<option value="Virtual Machine">
								Virtual Machine
							</option>
							<option value="Container">
								Container
							</option>
						</select>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Tujuan*
					</label>
					<div class="col-lg-7 col-md-7 col-sm-12">
						<div><textarea class="form-control m-input" id="exampleTextarea" rows="5" formControlName="remarks" name="remarks"></textarea></div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Sistem Operasi*
					</label>
					<div class="col-5">
						<select class="form-control m-input" id="os" formControlName="os" name="os">
							<option value="CentOS 7">
								CentOS 7
							</option>
							<option value="Ubuntu 16.04">
								Ubuntu 16.04
							</option>
							<option value="Debian 9">
								Debian 9
							</option>
							<option value="Red Hat 7">
								Red Hat 7
							</option>
						</select>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Virtual CPU (Core)*
					</label>
						<div class="col-5">
							<select class="form-control m-input" formControlName="vcpu" name="vcpu">
								<option value="1">
									1
								</option>
								<option value="2">
									2
								</option>
								<option value="4">
									4
								</option>
								<option value="8">
									8
								</option>
								<option value="12">
									12
								</option>
								<option value="16">
									16
								</option>
							</select>
						</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Memori (GB)*
					</label>
						<div class="col-5">
							<select class="form-control m-input" formControlName="memori" name="memori">
								<option value="4">
									4
								</option>
								<option value="8">
									8
								</option>
							</select>
						</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Root Disk (GB)*
					</label>
						<div class="col-5">
							<select class="form-control m-input" formControlName="rootDisk" name="rootDisk">
								<option value="0.5">
									0.5
								</option>
								<option value="1">
									1
								</option>
								<option value="1.5">
									1.5
								</option>
								<option value="2">
									2
								</option>
							</select>
						</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Ephemeral Disk (GB)*
					</label>
						<div class="col-5">
							<select class="form-control m-input" formControlName="ephemeralDisk" name="ephemeralDisk">
								<option value="0.5">
									0.5
								</option>
								<option value="1">
									1
								</option>
								<option value="1.5">
									1.5
								</option>
								<option value="2">
									2
								</option>
							</select>
						</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Swap Disk (GB)*
					</label>
					<div class="col-5">
						<select class="form-control m-input" formControlName="swapDisk" name="swapDisk">
							<option value="0.5">
								0.5
							</option>
							<option value="1">
								1
							</option>
							<option value="1.5">
								1.5
							</option>
							<option value="2">
								2
							</option>
						</select>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Persistent Disk (GB)*
					</label>
					<div class="col-5">
						<select class="form-control m-input" formControlName="persistentDisk" name="persistentDisk">
							<option value="0.5">
								0.5
							</option>
							<option value="1">
								1
							</option>
							<option value="1.5">
								1.5
							</option>
							<option value="2">
								2
							</option>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Language*
					</label>
						<div class="col-5">
							<select class="form-control m-input" formControlName="language" name="language">
								<option value="PHP">
									PHP
								</option>
								<option value="R">
									R
								</option>
								<option value="Java">
									Java
								</option>
								<option value="JavaScript">
									JavaScript
								</option>
							</select>
						</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Framework*
					</label>
					<div class="col-lg-5 col-md-7 col-sm-12">
						<select class="form-control m-input" #framework (change)="setFramework(framework.value)" formControlName="framework" name="framework">
							<option *ngFor="let frameworkR of frameworkLs" [value]="frameworkR.id">
							{{frameworkR.name}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Database*
					</label>
					<div class="col-lg-5 col-md-7 col-sm-12">
						<select class="form-control m-input" #database (change)="setDatabase(database.value)" formControlName="database" name="database">
							<option *ngFor="let databaseR of databaseLs" [value]="databaseR.id">
							{{databaseR.name}}
							</option>
						</select>
					</div>
				</div>
				
				<div class="form-group m-form__group row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Web Server*
					</label>
					<div class="col-5">
						<select class="form-control m-input" formControlName="webServer" name="webServer">
							<option value="Apache Tomcat">
								Apache Tomcat
							</option>
							<option value="NGINX">
								NGINX
							</option>
							<option value="Wildfly">
								Wildfly																																																																																		
							</option>
						</select>
					</div>
				</div>

			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<label class="m-checkbox m-checkbox--success">
								<input type="checkbox" id="setuju">
									Saya bersetuju dengan <a href="#" data-toggle="modal" data-target="#terma">terma-terma</a> berikut.
								<span></span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-9 ml-lg-auto">
							<button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn btn-outline-success">
								Hantar
							</button>
							<button type="button" class="btn btn-outline-danger" (click)="redirectPage()">
								Kembali
							</button>
						</div>
					</div>
				</div>
			</div>

		</form>
		<!--end::Form-->
	</div>
	<!--end::Portlet-->
</div>
<div class="modal fade" id="m_modal_setuju" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Persetujuan Terma
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body col-centered">
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-12 col-sm-12">
                        <p class="lead">Sila pastikan anda bersetuju dengan terma yang telah diberikan!</p>
                    </label>
                </div>
                <div class="row">
                    <div class="col-centered">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                            Okay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="terma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header m-portlet m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
                <h5 class="modal-title text-white" id="exampleModalLabel">
                    Terma Permohonan Prasarana
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body col-centered">
                <div class="form-group m-form__group row">
                    <label class="col-form-label col-lg-12 col-sm-12">
                        	<h6>Sila baca dan fahami terma-terma berikut dengan teliti sebelum menggunakan perkhidmatan permohonan prasarana yang dikendalikan sistem pengurusan OSDeC.</h6>
							<br>
							<h6>Akses anda kepada dan penggunaan perkhidmatan ini akan dikekalkan atas persetujuan dan pematuhan anda terhadap terma-terma ini. Terma ini dikenakan kepada semua pelawat, pengguna dan orang lain yang mengakses atau menggunakan perkhidmatan ini.</h6>
							<br>
							
							<h6>Kami berhak, mengikut budi bicara kami sendiri, untuk mengubahsuai atau menggantikan terma ini pada bila-bila masa. Sekiranya semakan semula berjay, kami akan cuba memberikan notis sekurang-kurangnya 30 hari sebelum sebarang terma baru berkuatkuasa. Sebarang perubahan material akan ditentukan mengikut budi bicara kami.</h6>
                        
                    </label>
                </div>
                <div class="row">
                    <div class="col-centered">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">
                            Okay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>