<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Latihan
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Senarai Penilaian Akhir
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- START: Progress Bar -->
<div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard">
  <div class="m-wizard__head m-portlet__padding-x">

				<div class="m-wizard__progress">
					<div class="progress">
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
					</div>
				</div>

        <div class="m-wizard__nav">
    			<div class="m-wizard__steps">
    				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
    					<a class="m-wizard__step-number" href="#" (click)="redirectInfo()" ng-reflect-href="#">
    						<span class="custom-next">
    							<i class="flaticon-book"></i>
    						</span>
    					</a>
    					<div class="m-wizard__step-info">
    						<div class="m-wizard__step-title">
    							Maklumat
    						</div>
    					</div>
    				</div>
    				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_2">
    					<a class="m-wizard__step-number" href="#" (click)="redirectAttend()"  ng-reflect-href="#">
    						<span class="custom-next">
    							<i class="flaticon-calendar-2"></i>
    						</span>
    					</a>
    					<div class="m-wizard__step-info">
    						<div class="m-wizard__step-title">
    							Kehadiran
    						</div>
    					</div>
    				</div>
    				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_3">
    					<a class="m-wizard__step-number" href="#"  ng-reflect-href="#">
    						<span class="custom-current-danger">
    							<i class="flaticon-edit-1"></i>
    						</span>
    					</a>
    					<div class="m-wizard__step-info">
    						<div class="m-wizard__step-title">
    							Penilaian Akhir
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>

			</div>
    </div>
<!-- END: Progress Bar -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Senarai Penilaian Akhir
					</h3>
				</div>
			</div>
		</div>
    <div class="m-portlet__body">
      <div class="m-section">
				<div class="m-section__content">
					<table *ngIf="role === 'ROLE_COACH' " class="table table-bordered m-table m-table--head-bg-accent table-responsive">
            <thead>
              <tr>
                <th class="text-center" scope="row">Bil.</th>
                <th class="text-center">Nama</th>
                <th class="text-center">Jawatan</th>
                <th class="text-center">Agensi</th>
                <th class="text-center">Emel</th>
                <th class="text-center">Tindakan</th>
              </tr>
            </thead>
            <tbody *ngFor="let tx of txLs; let i = index">
              <tr>
                <th class="text-center" scope="row">{{i+1}}</th>
                <td>{{tx.user.name}}</td>
                <td>{{tx.user.position}}</td>
                <td>{{tx.user.agency.name}}</td>
                <td>{{tx.user.email}}</td>
                <td class="text-center">
									<a *ngIf="tx.user.enabled == true " href="#" (click)="redirectROFb(tx.user.id, tx.user.type)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill btn-outline-accent">
										<i class="la la-ellipsis-h"></i>
									</a>
									<a *ngIf="tx.user.enabled == false " href="#" (click)="redirectFbAction(tx.user.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill btn-outline-danger">
										<i class="la la-wechat"></i>
									</a>
								</td>
              </tr>
          </tbody>
          </table>
          <div *ngIf="role === 'ROLE_USER' " class="m-widget2">
						<div *ngIf="isExistPK == true " class="m-widget2__item m-widget2__item--brand">
							<div class="m-widget2__checkbox">
								<i class="fa fa-check mb-3 m--font-success"></i>
							</div>
							<div class="m-widget2__desc align-middle">
								<span class="m-widget2__text ">
									<a href="#" (click)="redirectROPKFb()">
                    Penilaian Kursus
                  </a>
								</span>
							</div>
						</div>
						<div *ngIf="isExistPK == false " class="m-widget2__item m-widget2__item--brand">
							<div class="m-widget2__checkbox">
								<i class="fa fa-close mb-3 m--font-danger"></i>
							</div>
							<div class="m-widget2__desc align-middle">
								<span class="m-widget2__text ">
									<a href="#" (click)="redirectPKFbAction()">
                    Penilaian Kursus
                  </a>
								</span>
							</div>
						</div>
						<div *ngIf="isExistPC == true " class="m-widget2__item m-widget2__item--danger">
							<div class="m-widget2__checkbox">
								<i  class="fa fa-check mb-3 m--font-success"></i>
							</div>
							<div class="m-widget2__desc align-middle">
								<span class="m-widget2__text">
									<a href="#" (click)="redirectROPCFb()">
                    Penilaian Penceramah
                  </a>
								</span>
							</div>
						</div>
						<div *ngIf="isExistPC == false " class="m-widget2__item m-widget2__item--danger">
							<div class="m-widget2__checkbox">
								<i class="fa fa-close mb-3 m--font-danger"></i>
							</div>
							<div class="m-widget2__desc align-middle">
								<span class="m-widget2__text">
									<a href="#" (click)="redirectPCFbAction()">
                    Penilaian Penceramah
                  </a>
								</span>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
	</div>
</div>
