<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Tetapan Latihan
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Latihan
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Tetapan Latihan
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--begin::Portlet-->
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Tetapan Latihan
					</h3>
				</div>
			</div>
		</div>
		<!--begin::Form-->
		<form enctype="multipart/form-data" class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="trainingForm" id="trainingForm" (ngSubmit)="onSubmit()">
			<div class="m-portlet__body">
				<div class="m-demo__preview">
					<div class="m-stack m-stack--ver m-stack--general">
						<div class="m-stack__item m-stack__item--center m-stack__item--top" style="width: 320px;">
							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
								</label>
								<div class="col-lg-7 col-md-7 col-sm-12">
									<label class="uploader" ondragover="return false;" [class.loaded]="loaded">

									 <i class="icon fa fa-upload"></i>
									 <img [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded"/>
									 <input type="file" id="avatar" (change)="handleInputChange($event)" #fileInput class="btn m-btn--square btn-secondary btn-sm">
									 </label>
								</div>
							</div>
						</div>

						<div class="m-stack__item  m-stack__item--middle m-stack__item--fluid">

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Nama Latihan *
								</label>
								<div class="col-lg-4 col-md-9 col-sm-12">
									<input type="text" class="form-control m-input" formControlName="title" name="title" placeholder="">
								</div>
							</div>
							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Teknologi *
								</label>
								<div class="col-lg-4 col-md-9 col-sm-12">
								<select #technology (change)="setTechnology(technology.value)" formControlName="technology" name="technology">
								    <option *ngFor="let technologyR of technologies" [value]="technologyR.id">
								        {{technologyR.name}}
								    </option>
								</select>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Tahap Kesukaran *
								</label>
								<div class="col-lg-4 col-md-9 col-sm-12">
								<select class="form-control m-input" formControlName="level" name="level">
											<option value="">Sila Pilih</option>
											<option value="Permulaan">
												Permulaan
											</option>
											<option value="Pertengahan">
												Pertengahan
											</option>
											<option value="Mahir">
												Mahir
											</option>
								</select>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Mengenai Latihan *
								</label>
								<div class="col-lg-4 col-md-9 col-sm-12">
									<textarea class="form-control m-input" formControlName="remark" name="remark" rows="5" placeholder="Latihan ini..."></textarea>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Tarikh Mula *
								</label>
								<div class="col-lg-3 col-md-2 col-sm-12">
									<div class="input-group">
													 <input readonly="" placeholder="dd/mm/yyyy" class="form-control m-input" formControlName="startDate" name="startDate" ngbDatepicker #d="ngbDatepicker" id="startDate" [ngModel]="startDate" (ngModelChange)="onChange($event)" [maxDate]="startMax">
							      <button class="input-group-addon" (click)="d.toggle()" type="button">
							        <i class="la la-calendar glyphicon-th"></i>
							      </button>
							    </div>
							    <span class="m-form__help"></span>

								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Tarikh Tamat *
								</label>
								<div class="col-lg-3 col-md-2 col-sm-12">
									<div class="input-group">
													 <input readonly="" placeholder="dd/mm/yyyy" class="form-control m-input" formControlName="endDate" name="endDate" ngbDatepicker #d2="ngbDatepicker" id="endDate" [ngModel]="endDate" ((ngModelChange)="onChange2($event)" [minDate]="endMin">
							      <button class="input-group-addon" (click)="d2.toggle()" type="button">
							        <i class="la la-calendar glyphicon-th"></i>
							      </button>
							    </div>
								<span class="m-form__help"></span>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Tempat Latihan *
								</label>
								<div class="col-lg-4 col-md-9 col-sm-12">
									<input type="text" class="form-control m-input" formControlName="place" name="place" placeholder="">
								</div>
							</div>

							<div class="form-group m-form__group row">
									<label class="col-form-label col-lg-3 col-sm-12">
										Status *
									</label>
								<div class="col-lg-7 col-md-7 col-sm-12">
									<div class="m-radio-inline">
				                        <label class="m-radio m-radio--bold m-radio--state-brand">
													<input formControlName="status" name="status" type="radio" value="1">
													Aktif
													<span></span>
												</label>
				                        <label class="m-radio m-radio--bold m-radio--state-brand">
													<input formControlName="status" name="status" type="radio" value="2">
													Tidak Aktif
													<span></span>
												</label>
												 <span class="m-form__help"> </span>
				                    </div>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Had Peserta *
								</label>
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="row align-items-center">
										<div class="col-4">
											<input type="number" class="form-control" formControlName="limitation" id="limitation">
										</div>
									</div>
								</div>
							</div>

							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-3 col-sm-12">
									Coach *
								</label>
								<div class="col-lg-7 col-md-7 col-sm-12">
									<table class="table m-table m-table--head-bg-brand">
										<thead>
			                                <tr>
			                                    <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
			                                    <th>Nama</th>
			                                    <th>Email</th>
			                                    <th>Tindakan</th>
			                                </tr>
			                            </thead>
										<tbody>
											<tr *ngFor="let userR of userArray; let i=index">
												<th>
													<input type="checkbox" ng-model="userR.selected"/>
												</th>
												<th>{{userR.name}}</th>
												<th>{{userR.email}}</th>
												<th><span style="overflow: visible; width: 110px;"> <a (click)="onCheckOff(i)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Padam"><i class="la la-trash"></i></a>         </span></th>
											</tr>
										</tbody>
									</table>
									<div class="col-lg-7 col-md-7 col-sm-12">
										<a href="#" class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon" (click)="openModal()" data-toggle="modal" data-target="#m_modal_1">
											<span>
												<i class="la la-user-plus"></i>
												<span>
													Tambah Coach
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-7 ml-lg-auto">
							<button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn btn-outline-success">
			                  Simpan
			                </button>
			                <button type="reset" class="btn btn-outline-danger"
			                (click)="redirectTrainingPage()"> Batal
			            	</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Tambah Coach
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<!--begin: Search Form -->
						<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
							<div class="row align-items-center">
								<div class="col-xl-8 order-2 order-xl-1">
									<div class="form-group m-form__group row align-items-center">
										<div class="col-md-4">
											<div class="m-input-icon m-input-icon--left">
												<input type="text" class="form-control m-input m-input--solid" placeholder="Carian..." id="m_form_search">
												<span class="m-input-icon__icon m-input-icon__icon--left">
													<span>
														<i class="la la-search"></i>
													</span>
												</span>
											</div>
											<div class="d-md-none m--margin-bottom-10"></div>
										</div>
										<div class="col-md-4">
											<div class="m-input-icon m-input-icon--left">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="m-section__content">
							<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30 collapse" id="m_datatable_group_action_form">
								<div class="row align-items-center">
									<div class="col-xl-12">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__control">
												<div class="btn-toolbar">
													&nbsp;&nbsp;&nbsp;
													<button class="btn btn-sm btn-primary" type="button" id="m_datatable_check_all">
														Tambah Coach
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						<div class="m_datatable" id="recordList">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end::Form-->
<!--begin::Modal-->
			<div class="modal fade" id="m_modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header m-portlet m-portlet--{{confirmType}} m-portlet--head-solid-bg m-portlet--bordered">
							<h5 class="modal-title text-white" id="exampleModalLabel">
								Pengesahan Latihan
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body col-centered">
							<div class="form-group m-form__group row">
								<label class="col-form-label col-lg-12 col-sm-12">
									<p class="lead">{{confirmMsg}}</p>
								</label>
							</div>
							<div class="row">
								<div class="col-centered">
									<button type="reset" class="btn btn-outline-danger" data-dismiss="modal">
										Batal
									</button>
									<button type="reset" class="btn btn-outline-success" (click)="redirectTrainingPage()" >
										Teruskan
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Modal-->
</div>
<!--end::Portlet-->
</div>
