<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet">
		<div class="m-portlet__body  m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
				<!-- <div class="col-md-12 col-lg-6 col-xl-3">
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								Bilangan Pengguna
							</h4>
							<br>
							<span class="m-widget24__desc">
								Bilangan Pengguna yang berdaftar
							</span>
							<span class="m-widget24__stats m--font-primary">
								{{noUser}}
							</span>
							<div class="m--space-10"></div>
						</div>
					</div>
				</div> -->
				<div class="col-md-12 col-lg-6 col-xl-4">
					<!--begin::Latihan Teknikal-->
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								Latihan Teknikal
							</h4>
							<br>
							<span class="m-widget24__desc">
								Sesi Latihan Teknikal
							</span>
							<span class="m-widget24__stats m--font-success">
								{{trainUsed}}
							</span>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="m--bg-success" role="progressbar" [style.width]="trainUsed/(trainUsed+trainBal)*100 + '%'" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="m-widget24__change">
								Baki
							</span>
							<span class="m-widget24__number">
								{{trainBal}}
							</span>
						</div>
					</div>
					<!--end::Latihan Teknikal-->
				</div>
				<div class="col-md-12 col-lg-6 col-xl-4">
					<!--begin::Latihan Persijilan-->
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								Latihan Persijilan
							</h4>
							<br>
							<span class="m-widget24__desc">
								Latihan Persijilan
							</span>
							<span class="m-widget24__stats m--font-info">
								{{certUsed}}
							</span>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="m--bg-info" role="progressbar" [style.width]="certUsed/(certUsed+certBal)*100 + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="m-widget24__change">
								Baki
							</span>
							<span class="m-widget24__number">
								{{certBal}}
							</span>
						</div>
					</div>
					<!--end::Latihan Persijilan-->
				</div>
				<div class="col-md-12 col-lg-6 col-xl-4">
					<!--begin::Coaching-->
					<div class="m-widget24">
						<div class="m-widget24__item">
							<h4 class="m-widget24__title">
								Coaching
							</h4>
							<br>
							<span class="m-widget24__desc">
								Manday Coaching
							</span>
							<span class="m-widget24__stats m--font-danger">
								{{coachUsed}}
							</span>
							<div class="m--space-10"></div>
							<div class="progress m-progress--sm">
								<div class="m--bg-danger" role="progressbar" [style.width]="coachUsed/(coachUsed+coachBal)*100 + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="m-widget24__change">
								Baki
							</span>
							<span class="m-widget24__number">
								{{coachBal}}
							</span>
						</div>
					</div>
					<!--end::Coaching-->
				</div>
			</div>
		</div>
	</div>
	<!--end:: Widgets/Stats-->

	<!--Begin::Main Portlet-->
	<div class="row">

				<div class="col-xl-12">
					<div class="m-portlet">
						<div class="m-portlet__body  m-portlet__body--no-padding">
							<div class="row m-row--no-padding m-row--col-separator-xl">
								<div class="col-xl-8">
									<!--begin:: Widgets/Stats2-1 -->
									<div class="m-widget14">
										<div class="m-widget14__header">
											<h3 class="m-widget14__title">
												Graf Mengikut Bulanan Bagi Tahun 2018
											</h3>
											<span class="m-widget14__desc">
												Graf keseluruhan mengikut bulanan bagi Latihan Teknikal, Latihan Persijilan, Coaching dan Kepakaran
											</span>
										</div>
										<div class="m-widget1__item">
											<p-chart type="bar" [data]="data"></p-chart>
										</div>
									</div>
									<!--end:: Widgets/Stats2-1 -->
								</div>
								<div class="col-xl-4">
									<!--begin:: Widgets/Revenue Change-->
									<div class="m-widget14">
										<div class="m-widget14__header">
											<h3 class="m-widget14__title">
												Keseluruhan
											</h3>
											<span class="m-widget14__desc">
												Graf keseluruhan bagi Latihan Teknikal, Latihan Persijilan dan Coaching
											</span>
										</div>
										<div class="row  align-items-center">
											<div class="col">
												<p-chart type="polarArea" [data]="data2" ></p-chart>
											</div>
										</div>
									</div>
									<!--end:: Widgets/Revenue Change-->
								</div>
							</div>
						</div>
					</div>
				</div>

	</div>
	<!--End::Main Portlet-->

	<!-- ----------------------------------------------- ADMIN CALENDAR ----------------------------------------------------- -->
	<div class="row">
		<div class="col-xl-9">
			<!--begin::Portlet-->
			<div class="m-portlet" id="m_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-calendar-2"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Kalendar Keseluruhan OSDeC
							</h3>
						</div>
					</div>

				</div>
				<div class="m-portlet__body">
					<div id="m_calendar_dash2"></div>
				</div>
			</div>
			<!--end::Portlet-->

			<!-- begin:: MODAL 1 -->
			<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Maklumat Aktiviti
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="m-form m-form--fit m-form--label-align-right" >
								<div class="m-portlet__body">

									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Nama Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input"  name="title" disabled="true" id="eventTitle">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tempat Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input" disabled="true" id="eventVenue">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tarikh Mula Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventStartDate">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tarikh Tamat Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventEndDate">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Teknologi Digunakan
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input"  name="technology"  disabled="true" id="eventTech">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tahap Kesukaran
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input"  name="level"  disabled="true" id="eventLevel">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
<!-- end:: MODAL 1 -->

<!-- begin:: MODAL COACH -->
<div class="modal fade" id="m_modal_coach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCoach">
					Maklumat Coaching
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="m-form m-form--fit m-form--label-align-right" >
					<div class="m-portlet__body">

						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Nama Coaching
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="title" disabled="true" id="eventTitleCoach">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Nama Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="name" disabled="true" id="eventNameCoach">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tempat Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input" name="venue" disabled="true" id="eventVenueCoach">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tarikh Mula Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventStartDateCoach">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tarikh Tamat Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventEndDateCoach">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Backend
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="backend"  disabled="true" id="eventBackend">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Frontend
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="frontend"  disabled="true" id="eventFrontend">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Database
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="database"  disabled="true" id="eventDatabase">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end:: MODAL COACH -->

<!-- begin:: MODAL CAPABILITY -->
<div class="modal fade" id="m_modal_capab" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCapab">
					Maklumat Kepakaran
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="m-form m-form--fit m-form--label-align-right" >
					<div class="m-portlet__body">

						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Nama Kepakaran
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="title" disabled="true" id="eventTitleCapab">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Nama Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="name" disabled="true" id="eventNameCapab">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tempat Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input" disabled="true" id="eventVenueCapab">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tarikh Mula Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventStartDateCapab">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Tarikh Tamat Aktiviti
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="date"  disabled="true" id="eventEndDateCapab">
							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-form-label col-lg-5 col-sm-12">
								Kepakaran Teknologi
							</label>
							<div class="col-lg-6 col-md-10 col-sm-12">
								<input type="text" class="form-control m-input"  name="kepakaran"  disabled="true" id="eventKepakaran">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end:: MODAL CAPABALITY -->

	</div>
	<div class="col-xl-3">
		<!--begin::Portlet-->
		<div class="m-portlet" id="m_portlet">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon">
							<i class="flaticon-speech-bubble"></i>
						</span>
						<h3 class="m-portlet__head-text">
							Petunjuk
						</h3>
					</div>
				</div>

			</div>
			<div class="m-portlet__body">

				<button class = "btn btn-secondary btn-block m--align-left">
					<span class = "m-badge m-badge--success"></span>
					 Latihan Teknikal
				 </button>
				 &nbsp;&nbsp;
				 <button class = "btn btn-secondary btn-block m--align-left">
					<span class = "m-badge m-badge--info"></span>
					 Latihan Persijilan
				 </button>
				 &nbsp;&nbsp;
				 <button class = "btn btn-secondary btn-block m--align-left">
					<span class = "m-badge m-badge--danger"></span>
					 Coaching
				 </button>
				 &nbsp;&nbsp;
				 <button class = "btn btn-secondary btn-block m--align-left">
					<span class = "m-badge m-badge--brand"></span>
					 Kepakaran
				 </button>

			</div>
		</div>
		<!--end::Portlet-->
</div>
</div>
</div>
