<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Profil
			</h3>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-3"  >
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body" >
					<form enctype="multipart/form-data" id="picForm">
					<div class="m-card-profile" >
						<div class="m-card-profile__title m--hide">
							Profil Anda
						</div>
						<div class="m-card-profile__pic">
							<div class="m-widget4__img m-widget4__img--pic">
                              <div *ngIf="userimg != null;else other_content">
                                <img src="data:image/JPEG;base64,{{userimg}}" alt="">
                              </div>
                              <ng-template #other_content><img src="./assets/app/media/img/users/people.png" alt=""></ng-template>
          					</div>
						</div>
						<div class="m-card-profile__details" >
							<span class="m-card-profile__name">
								{{name}}
							</span>
							<a href="" class="m-card-profile__email m-link">
								{{email}}
							</a>
						</div>
					</div>
				</form>
					<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Maklumat Peribadi
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Agensi
								</a>
							</li>

							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_skill_tab_1" role="tab">
									Kemahiran
								</a>
							</li>

							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_skill_tab_2" role="tab">
									Projek Lain
								</a>
							</li>

							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
									Sijil
								</a>
							</li>

							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_latihan_tab_2" role="tab">
									Latihan
								</a>
							</li>

							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_coaching_tab_2" role="tab">
									Coaching
								</a>
							</li>

						</ul>
					</div>
				</div>
		<!--#####################################################################################################-->
		<!--######################################################################################################-->
		<!--#######################################        PROFIL     ############################################-->
		<!--########################################################################################################-->
		<!--#####################################################################################################-->

				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right" id="profileForm">

							<div class="m-portlet__body">

								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Maklumat Peribadi
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Nama Penuh :
									</label>
									<div class="col-7 col-form-label">
										{{name}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										No Tel :
									</label>
									<div class="col-7 col-form-label">
										{{phoneNo}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										No Kad Pengenalan :
									</label>
									<div class="col-7 col-form-label">
										{{username}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Alamat Email :
									</label>
									<div class="col-7 col-form-label">
										{{email}}
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Nama Jawatan :
									</label>
									<div class="col-7 col-form-label">
										{{position}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Skim Perkhidmatan :
									</label>
									<div class="col-7 col-form-label">
										{{schema}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Gred Jawatan :
									</label>
									<div class="col-7">
										{{grade}}
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Alamat 
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Alamat :
									</label>
									<div class="col-7 col-form-label">
										{{address}}
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Negeri :
									</label>
									<div class="col-7 col-form-label">
										{{state2}}
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Bandar :
									</label>
									<div class="col-7 col-form-label">
										{{city2}}
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Poskod :
									</label>
									<div class="col-7 col-form-label">
										{{postcode}}
									</div>
								</div>
							</div>

							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>

					<!--##################################################################################################-->
					<!--#################################################################################################-->
					<!--#######################################        AGENSI     #######################################-->
					<!--##################################################################################################-->
					<!--#################################################################################################-->
					<div class="tab-pane fade" id="m_user_profile_tab_2">
            <form class="m-form m-form--fit m-form--label-align-right" id="agencyForm">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Maklumat Agensi
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label class="col-2 col-form-label">
										Sektor :
									</label>
										<div class="col-7 col-form-label">
											{{type}}
										</div>

								</div>
								<div *ngIf="isGov === true">
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label" >
											Nama Agensi :
										</label>
										<div class="col-7 col-form-label">
											{{agency2}}
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											No Tel :
										</label>
										<div class="col-7 col-form-label">
											{{cphoneNo}}
										</div>
									</div>


									<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
									<div class="form-group m-form__group row">
										<div class="col-10 ml-auto">
											<h3 class="m-form__section">
												Alamat Agensi
											</h3>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Alamat :
										</label>
										<div class="col-7 col-form-label">
											{{caddress}}
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-2 col-form-label">
											Negeri :
										</label>
										<div class="col-7 col-form-label">
											{{cstate}}
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Bandar :
										</label>
										<div class="col-7 col-form-label">
											{{ccity}}
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Poskod :
										</label>
										<div class="col-7 col-form-label">
											{{cpostcode}}
										</div>
									</div>
								</div>
								<div *ngIf="isGov === false" >
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label" >
											Nama Syarikat :
										</label>
										<div class="col-7 col-form-label">
											{{cname}}
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											No Tel :
										</label>
										<div class="col-7 col-form-label">
											{{cphoneNo}}
										</div>
									</div>


									<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
									<div class="form-group m-form__group row">
										<div class="col-10 ml-auto">
											<h3 class="m-form__section">
												Alamat Syarikat
											</h3>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Alamat :
										</label>
										<div class="col-7 col-form-label">
											{{caddress}}
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Negeri :
										</label>
										<div class="col-7 col-form-label">
											{{cstate}}
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Bandar :
										</label>
										<div class="col-7">
											{{ccity}}
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-2 col-form-label">
											Poskod :
										</label>
										<div class="col-7 col-form-label">
											{{cpostcode}}
										</div>
									</div>
								</div>


							</div>


							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>

						</form>


					</div>

					<!--############################################################################################################-->
					<!--############################################################################################################-->
					<!--#######################################        KEPAKARAN     ############################################-->
					<!--############################################################################################################-->
					<!--############################################################################################################-->
					<div class="tab-pane fade" id="m_user_skill_tab_1">
						<form id="skillForm" class="m-form  m-form--label-align-right">
							<div class="m-portlet__body">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Kemahiran
												</h3>
											</div>
										</div>
									</div>
									<div class="col-lg-10 col-md-10 col-sm-12">

										<div class="m-section">
											<div class="m-section__content">
												<table class="table m-table m-table--head-bg-success">
													<thead>
														<tr>

															<th>
																Kemahiran
															</th>
															<th>
																Tahap
															</th>
															<th>
																Markah (%)
															</th>
															
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let item of skill">
															<th>{{item.technology.name}}</th>
															<th>{{item.level}}</th>
															<th>{{item.mark}}</th>
													</tbody>
												</table>
											</div>
										</div>
								</div>
							</div>

							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>
							
						</form>
					</div>

					<!--####################################################################################################-->
					<!--####################################################################################################-->
					<!--##################################        PROJEK     ###############################################-->
					<!--####################################################################################################-->

					<div class="tab-pane fade" id="m_user_skill_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="col-xl-12">

									&nbsp;&nbsp;


									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Projek Lain
												</h3>
											</div>

										</div>
									</div>

										<div class="m-section">
											<div class="m-section__content">
												<table class="table m-table m-table--head-bg-success">
													<thead>
														<tr>

															<th>
																Nama Projek
															</th>
															<th>
																Jenis Projek
															</th>
															<th>
																Teknologi Yang Digunakan
															</th>
															<th>
																Peranan Dalam Projek
															</th>
															<th>
																Tarikh Mula
															</th>
															<th>
																Tarikh Tamat
															</th>
															<th>
																Pendekatan
															</th>

														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let project of osdecProject; let i = index">
															<th>{{project.name}}</th>
															<th>{{project.type}}</th>
															<th>{{project.technology.name}}</th>
															<th>{{project.role}}</th>
															<th>{{project.starting_date | date : "dd/MM/yyyy"}}</th>
															<th>{{project.ending_date | date : "dd/MM/yyyy"}}</th>
															<th>{{project.description}}</th>
															<th><span style="overflow: visible; width: 110px;">
															</span></th>
													</tbody>
												</table>
											</div>
										</div>

							</div>

							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>



						</form>
					</div>


					<!--########################################################################################################-->
					<!--########################################################################################################-->
					<!--#######################################        SIJIL     ##############################################-->
					<!--#######################################################################################################-->
					<!--########################################################################################################-->

					<div class="tab-pane fade" id="m_user_profile_tab_3">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Sijil
										</h3>
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Nama Sijil
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="">
									</div>
								</div>

								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Kategori Sijil
									</label>
									<div class="col-7">
										<select class="form-control m-input m-input--solid" id="peranan">
											<option value="">
												Sila Pilih..
											</option>
											<option value="1">
												Penyertaan
											</option>
											<option value="2">
												Penghargaan
											</option>
											<option value="3">
												Professional
											</option>
											<option value="4">
												Kursus
											</option>
										</select>
									</div>
								</div>

							    <div class="form-group m-form__group row">
											<label for="example-text-input" class="col-2 col-form-label">
												Sijil Projek Terlibat
											</label>

										<div class="col-5">

											<label class="custom-file">
												<input class="custom-file-input" id="sijil1" type="file">
												<span class="custom-file-control"></span>
											</label>
										</div>
								</div>
		                	</div>


							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>


						</form>
					</div>


					<!--####################################################################################################-->
					<!--####################################################################################################-->
					<!--##################################        LATIHAN     ###############################################-->
					<!--####################################################################################################-->

					<div class="tab-pane fade" id="m_user_latihan_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="col-xl-12">

									&nbsp;&nbsp;


									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Latihan
												</h3>
											</div>

										</div>
									</div>

										<div class="m-section">
											<div class="m-section__content">
												<table class="table m-table m-table--head-bg-success">
													<thead>
														<tr>

															<th>
																Nama Latihan
															</th>
															<th>
																Teknologi Yang Digunakan
															</th>
															<th>
																Tahap
															</th>
															<th>
																Tarikh Mula
															</th>
															<th>
																Tarikh Tamat
															</th>
															
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let latihanPu of latihanP; let i = index">
															<th>{{latihanPu.training.title}}</th>
															<th>{{latihanPu.training.technology.name}}</th>
															<th>{{latihanPu.training.level}}</th>
															<th>{{latihanPu.training.startDate | date : "dd/MM/yyyy"}}</th>
															<th>{{latihanPu.training.endDate | date : "dd/MM/yyyy"}}</th>
															<th><span style="overflow: visible; width: 110px;">
															</span></th>
													</tbody>
												</table>
											</div>
										</div>

							</div>

							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>



						</form>
					</div>

					<!--####################################################################################################-->
					<!--####################################################################################################-->
					<!--##################################        COACHING     ###############################################-->
					<!--####################################################################################################-->

					<div class="tab-pane fade" id="m_user_coaching_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="col-xl-12">

									&nbsp;&nbsp;


									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Coaching
												</h3>
											</div>

										</div>
									</div>

										<div class="m-section">
											<div class="m-section__content">
												<table class="table m-table m-table--head-bg-success">
													<thead>
														<tr>
															<th>
																Nama Coaching
															</th>
															<th>
																Language
															</th>
															<th>
																Framework
															</th>
															<th>
																Database
															</th>
															<th>
																Tarikh Mula
															</th>
															<th>
																Tarikh Tamat
															</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let projectPu of coachingP; let i = index">
															<th>{{projectPu.coaching.name}}</th>
															<th>({{projectPu.coaching.backend.name}})({{projectPu.coaching.backendlevel}})</th>
															<th>({{projectPu.coaching.frontend.name}})({{projectPu.coaching.frontendlevel}})</th>
															<th>({{projectPu.coaching.database.name}})({{projectPu.coaching.databaselevel}})</th>
															<th>{{projectPu.coaching.starting_date  | date : "dd/MM/yyyy"}}</th>
															<th>{{projectPu.coaching.ending_date  | date : "dd/MM/yyyy"}}</th>
															<th><span style="overflow: visible; width: 110px;">
															</span></th>
													</tbody>
												</table>
											</div>
										</div>

							</div>

							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-10 ml-lg-auto">
											<button type="button" class="btn  btn-outline-danger" (click)="backPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>



						</form>
					</div>
					
			</div>
		</div>
	</div>
</div>
