<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Maklumat Pengguna
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Pengurusan Pengguna
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Kemaskini Pengguna
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--full-height m-portlet--tabs">
        <div class="m-portlet__head">
          <div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Kemaskini Profil
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Kemaskini Kata Laluan
								</a>
							</li>
						</ul>
            <!-- <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Kemaskini Pengguna
              </h3>
            </div> -->
          </div>
        </div>

				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<!--begin::Form-->
						<form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="profileForm" id="profileForm">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Maklumat Peribadi
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Nama Penuh *
									</label>
									<div class="col-lg-4">
										<input type="text" class="form-control m-input" formControlName="name" name="name" placeholder="">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										No Tel
									</label>
									<div class="col-4">
										<input type="text" class="form-control m-input" formControlName="phoneNo" name="phoneNo" placeholder="">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										No Kad Pengenalan *
									</label>
									<div class="col-lg-4">
										<input type="text" class="form-control m-input" formControlName="username" name="username" placeholder="">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Alamat Email*
									</label>
									<div class="col-lg-4">
										<input type="text" class="form-control m-input" formControlName="email" name="email" placeholder="">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Nama Jawatan
									</label>
									<div class="col-4">
										<input type="text" class="form-control m-input" formControlName="position" name="position" placeholder="">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Skim Perkhidmatan
									</label>
									<div class="col-lg-1">
										<select #schema (change)="setSchema(schema.value)" formControlName="schema" name="schema">
											<option [value]="0">Sila Pilih</option>
											<option *ngFor="let schema of schemaLs" [value]="schema.id">
												{{schema.name}}
											</option>
										</select>
									</div>
									<label  class="col-3 col-form-label">
										Gred Jawatan
									</label>
									<div class="col-lg-1">
										<select #grade (change)="setGrade(grade.value)" formControlName="grade" name="grade">
											<option [value]="0">Sila Pilih</option>
											<option *ngFor="let grade of gradeLs" [value]="grade.id">
											{{grade.name}}
											</option>
										</select>
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Alamat Peribadi
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Alamat
									</label>
									<div class="col-lg-4">
										<input class="form-control m-input" type="text" formControlName="address" name="address">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Negeri
									</label>
									<div class="col-lg-4">
										<select #state (change)="setSBState(state.value)" formControlName="state" name="state">
												<option [value]="0">Sila Pilih</option>
												<option *ngFor="let state of stateLs" [value]="state.id">
														{{state.name}}
												</option>
										</select>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Bandar
									</label>
									<div class="col-lg-4">
										<select #city (change)="setSBCity(city.value)" formControlName="city" name="city">
												<option [value]="0">Sila Pilih</option>
												<option *ngFor="let city of cities" [value]="city.id">
														{{city.name}}
												</option>
										</select>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Poskod
									</label>
									<div class="col-lg-4">
										<input class="form-control m-input" type="text" formControlName="postcode" name="postcode">
									</div>
								</div>
								<!-- ####################################################################################-->
								<!-- ###############################        AGENSI        ###############################-->
								<!-- ####################################################################################-->
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											Maklumat Agensi / Syarikat
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label class="col-3 col-form-label">
										Sektor
									</label>
										<div class="col-7">
											<div class="m-radio-inline">
												<label class="m-radio m-radio--primary">
													<input type="radio" formControlName="type" name="type" value="1" (change)="radTypeClick()">
													Kerajaan
													<span></span>
												</label>
												<label class="m-radio m-radio--primary">
													<input type="radio" formControlName="type" name="type" value="0" (change)="radTypeClick()">
													Swasta
													<span></span>
												</label>
											</div>
											<div *ngIf="isNotValid" style="color: #f4516c;font-weight: 400;font-size: .85rem;">This field is required.</div>
										</div>

								</div>
								<div *ngIf="isGov === true">
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label" >
											Nama Agensi
										</label>
										<div class="col-4">
											<select #agency (change)="setAgency(agency.value)" formControlName="agency" name="agency">

											<option value="">Sila Pilih</option>
											<option *ngFor="let agency of agencyLs" [value]="agency.id">
													{{agency.name}}
											</option>

											</select>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											No Tel
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="agencyPhoneNo" name="agencyPhoneNo" placeholder="">
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Alamat
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="agencyAddress" name="agencyAddress" placeholder="">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-3 col-form-label">
											Negeri
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="agencyState" name="agencyState" placeholder="" class="form-control m-input">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Bandar
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="agencyCity" name="agencyCity" placeholder="" class="form-control m-input">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Poskod
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="agencyPostcode" name="agencyPostcode" placeholder="">
										</div>
									</div>
								</div>
								<div *ngIf="isGov === false" >
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label" >
											Nama Syarikat*
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="cname" name="cname" placeholder="">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											No Tel*
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="cphoneNo" name="cphoneNo" placeholder="">
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Alamat*
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="caddress" name="caddress" placeholder="">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Negeri*
										</label>
										<div class="col-4">
											<select #cstate (change)="setSBCState(cstate.value)" formControlName="cstate" name="cstate" class="form-control m-input">
											<option value="">Sila Pilih</option>
											<option *ngFor="let state of stateLs" [value]="state.id">
													{{state.name}}
											</option>
									</select>
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label ">
											Bandar*
										</label>
										<div class="col-4">
											<select #ccity (change)="setSBCCity(ccity.value)" formControlName="ccity" name="ccity" class="form-control m-input">
											<option value="">Sila Pilih</option>
											<option *ngFor="let city of ccities" [value]="city.id">
													{{city.name}}
											</option>
									</select>
										</div>
									</div>

									<div class="form-group m-form__group row">
										<label  class="col-3 col-form-label">
											Poskod*
										</label>
										<div class="col-4">
											<input type="text" class="form-control m-input" formControlName="cpostcode" name="cpostcode" placeholder="">
										</div>
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-9 ml-lg-auto">
											<button type="submit" (click)="submit($event)" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn  btn-outline-success">
												Hantar
											</button>
											<button type="reset" class="btn  btn-outline-danger" (click)="redirectUserPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="m_user_profile_tab_2">
						<form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="passForm" id="passForm">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row">
									<label  class="col-3 col-form-label">
										Kata Laluan
									</label>
									<div class="col-4">
										<input type="text" class="form-control m-input" id="password" formControlName="password" name="password" placeholder="">
										<span class="m-form__help">
											Kata laluan mesti mempunyai sekurang-kurangnya
											<code>12 aksara</code>
										 dan mengandungi seperti berikut: Sekurang-kurangnya
										 <code>satu nombor</code>
										  dan
										 <code>satu simbol</code>
										 . Simbol yang dibenarkan adalah
										 <code>[@ % + ! # $ ^ ? / ~]</code>
										</span>
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions m-form__actions">
									<div class="row">
										<div class="col-lg-9 ml-lg-auto">
											<button type="submit" (click)="submitPass($event)" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn  btn-outline-success">
												Hantar
											</button>
											<button type="reset" class="btn  btn-outline-danger" (click)="redirectUserPage()">
												Kembali
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
      	</div>
      <!--end::Portlet-->
    </div>
  </div>
</div>
