<div class="m-content">
	<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
		<div class="m-alert__icon">
		<div class="m-card-profile__pic">
			<div class="m-widget4__img m-widget4__img--pic">
				<div>
					<img *ngIf="imageStr != null;else other_content" src="data:image/JPEG;base64,{{imageStr}}" alt="" WIDTH=300 HEIGHT=230>
					<ng-template #other_content>
						<i class="flaticon-notes size-10"></i>
					</ng-template>
				</div>
			</div>
		</div>
		</div>
		<div class="m-alert__text">
			<h2><b> {{title}} </b></h2>
		<br>
		<h6><b *ngFor="let item of user">Coach: {{item.coach.name}}		</b></h6>
		<h6><b> Tarikh Mula: </b>{{startDate}}</h6>
		<h6><b> Tarikh Tamat: </b>{{endDate}}</h6>
		<h6><b> Tahap Kesukaran: </b>{{level}}</h6>


		</div>
	</div>
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Apa yang akan dipelajari
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
							<a href="#" class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">

							</a>

						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">{{remark}}
			<div>
			<p align="right">
			<button (click)="redirectListPage()" class="btn btn-outline-danger" type="button">
				Kembali
			</button>
			</p>
		</div>
			<!--end: Datatable -->
		</div>
	</div>
</div>
