<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Kehadiran
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Coaching
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Kehadiran
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<!-- START: Progress Bar -->
<div class="m-wizard m-wizard--2 m-wizard--success m-wizard--step-first" id="m_wizard">
	<div class="m-wizard__head m-portlet__padding-x">
		<div class="m-wizard__progress">
			<div class="progress">
				<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar" role="progressbar" style="width: 100%;"></div>
			</div>
		</div>
		<div class="m-wizard__nav">
			<div class="m-wizard__steps">
				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
					<a class="m-wizard__step-number" href="#" (click)="redirectInfo()" ng-reflect-href="#">
						<span class="custom-next">
							<i class="flaticon-book"></i>
						</span>
					</a>
					<div class="m-wizard__step-info">
						<div class="m-wizard__step-title">
							Maklumat
						</div>
					</div>
				</div>
				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_2">
					<a class="m-wizard__step-number" href="#"  ng-reflect-href="#">
						<span class="custom-current-danger">
							<i class="flaticon-calendar-2"></i>
						</span>
					</a>
					<div class="m-wizard__step-info">
						<div class="m-wizard__step-title">
							Kehadiran
						</div>
					</div>
				</div>
				<div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_3">
					<a class="m-wizard__step-number" href="#" (click)="redirectFeedback()" ng-reflect-href="#">
						<span class="custom-next">
							<i class="flaticon-edit-1"></i>
						</span>
					</a>
					<div class="m-wizard__step-info">
						<div class="m-wizard__step-title">
							Penilaian Akhir
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Progress Bar -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet" id="m_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon">
								<i class="flaticon-calendar-2"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Kehadiran Coaching
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<div class="m-portlet__nav">
							<span class="m-portlet__nav-item">
								<!-- button here -->
							</span>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_calendar"></div>
				</div>
			</div>


			<div class="modal fade" id="m_modal_hadir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    <div class="modal-dialog modal-lg" role="document">
			        <div class="modal-content">
			            <div class="modal-header m-portlet m-portlet--success m-portlet--head-solid-bg m-portlet--bordered">
			                <h5 class="modal-title text-white" id="exampleModalLabel">
			                    Kehadiran
			                </h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">
			                        &times;
			                    </span>
			                </button>
			            </div>
			            <div class="modal-body col-centered">
			                <div class="form-group m-form__group row">
			                    <label class="col-form-label col-lg-12 col-sm-12">
			                        <p class="lead">Anda telah mengesahkan kehadiran untuk aktiviti ini.</p>
			                    </label>
			                </div>
			                <div class="row">
			                    <div class="col-centered">
			                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">
			                            Okay
			                        </button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="modal fade" id="m_modal_code" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    <div class="modal-dialog modal-lg" role="document">
			        <div class="modal-content">
			            <div class="modal-header m-portlet m-portlet--danger m-portlet--head-solid-bg m-portlet--bordered">
			                <h5 class="modal-title text-white" id="exampleModalLabel">
			                    Kod Kehadiran
			                </h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">
			                        &times;
			                    </span>
			                </button>
			            </div>
			            <div class="modal-body col-centered">
			                <div class="form-group m-form__group row">
			                    <label class="col-form-label col-lg-12 col-sm-12">
			                        <p class="lead">Anda telah memasukkan kod kehadiran yang salah untuk aktiviti ini.</p>
			                        <p> Sila dapatkan kod kehadiran yang betul daripada Coach aktiviti ini.</p>
			                    </label>
			                </div>
			                <div class="row">
			                    <div class="col-centered">
			                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">
			                            Okay
			                        </button>
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>
			<!--end::Portlet-->
			<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Semak Kehadiran
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									&times;
								</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="m-form m-form--fit m-form--label-align-right" novalidate [formGroup]="attForm" id="attForm" (ngSubmit)="onSubmit()">
								<div class="m-portlet__body">

									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Nama Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input" formControlName="name" name="name" disabled="name" id="eventTitle">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tempat Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input" disabled="true" id="eventVenue">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Tarikh Aktiviti
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input" formControlName="date" name="date" disabled="true" id="eventDate">
										</div>
									</div>

									<div class="form-group m-form__group row" id="eventSah">
										<label class="col-form-label col-lg-5 col-sm-12">
											Sahkan Kehadiran
										</label>
										<div class="m-radio-inline" disabled="true">
											<label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="attendance" name="attendance" type="radio" value="1" id="eventSah1" (click)="open()">
												Hadir
												<span></span>
											</label>
											<label class="m-radio m-radio--bold m-radio--state-brand">
												<input formControlName="attendance" name="attendance" type="radio" value="2" id="eventSah2" (click)="close()">
												Tidak Hadir
												<span></span>
											</label>
											<span class="m-form__help">

											</span>
										</div>
									</div>
									<div *ngIf="kehadiran == true" class="form-group m-form__group row" id="kodKehadiran">
										<label class="col-form-label col-lg-5 col-sm-12">
											Kod Pengesahan Kehadiran
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<input type="text" class="form-control m-input" formControlName="kodKehadiran" name="kodKehadiran">
										</div>
									</div>
									<div class="form-group m-form__group row">
										<label class="col-form-label col-lg-5 col-sm-12">
											Catatan
										</label>
										<div class="col-lg-6 col-md-10 col-sm-12">
											<textarea class="form-control m-input" rows="8" formControlName="remarks" name="remarks"></textarea>
										</div>
									</div>
								</div>
								<div class="modal-footer align-items-center">
									<button type="submit" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--success': loading}" class="btn btn-outline-success">
										Simpan
									</button>
									<button type="button" class="btn btn-outline-danger" (click)="closeModal()">
										Kembali
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
