<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid">
				<div class="m-login__wrapper">
					<div class="m-login__logo">
						<a href="#">
							<img src="./assets/app/media/img//logos/osdec.png" width="100%">
						</a>
					</div>
					<div class="m-login__signin">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Log Masuk
							</h3>
							<!-- <div class="m--margin-top-40 m-alert m-alert--outline m-alert--outline-2x alert alert-success fade show" role="alert">
								Use username
								<span style="font-weight: 500;">
									demo@demo.com
								</span>
								and password
								<span style="font-weight: 500;">
									demo
								</span>
								to continue or singup.
							</div> -->
						</div>
						<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertSignin></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control" type="text" placeholder="Masukkan No IC" name="username" [(ngModel)]="model.username" #email="ngModel" autocomplete="off">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Kata Laluan" name="password" [(ngModel)]="model.password" #password="ngModel">
							</div>
							<div class="row m-login__form-sub">
								<div class="col m--align-left">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
										Ingat Saya
										<span></span>
									</label>
								</div>
								<div class="col m--align-right">
									<a href="javascript:;" id="m_login_forget_password" class="m-link">
										Lupa Kata Laluan ?
									</a>
								</div>
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Log Masuk
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__signup">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Pendaftaran Pengguna
							</h3>
							<div class="m-login__desc">
								Sila masukkan maklumat berikut untuk pendaftaran:
							</div>
						</div>
						<form (ngSubmit)="f.form.valid && signup()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertSignup></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Nama Penuh" name="name" [(ngModel)]="model.name" #name="ngModel">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input " type="text" placeholder="No Kad Pengenalan" name="username" [(ngModel)]="model.username" #username="ngModel">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Emel" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off">
							</div>
							<div class="form-group m-form__group row" style="margin-left: -15px;">
								<label class="col-6 col-form-label">
									Sektor Kerajaan
								</label>
								<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
									<label>
										<input type="checkbox" checked="checked" class="cbAnswer" name="type" [(ngModel)]="model.type" #type="ngModel">
										<span></span>
									</label>
								</span>
							</div>
							<div *ngIf="isGov === false " class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Syarikat" name="company" [(ngModel)]="model.company" #company="ngModel" autocomplete="off">
							</div>
							<div *ngIf="isGov === true " class="form-group m-form__group">
								<select #agency (change)="setSBAgency(agency.value)" name="agency" class="form-control m-bootstrap-select m_selectpicker" data-live-search="true">
										<option [ngValue]="undefined" selected>Sila Pilih Agensi</option>
										<option *ngFor="let agency of agencyLs" [value]="agency.id" >
												{{agency.name}}
										</option>
								</select>
								<!-- <input class="form-control m-input" type="text" placeholder="Kementerian/Agensi" name="agencyId" [(ngModel)]="model.agencyId" #agencyId="ngModel"> -->
							</div>
							<div *ngIf="isNotValid" style="color: #f4516c;font-weight: 400;font-size: .85rem;">This field is required.</div>
							<!-- <div class="form-group m-form__group">
								<input class="form-control m-input" type="password" placeholder="Kata Laluan" name="password" [(ngModel)]="model.password" id="password">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Sahkan Kata Laluan" name="rpassword" [(ngModel)]="model.rpassword" id="rpassword">
							</div> -->
							<!-- <div class="row form-group m-form__group m-login__form-sub">
								<div class="col m--align-left">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="agree" [(ngModel)]="model.agree" #agree="ngModel">
										I Agree the
										<a href="#" class="m-link m-link--focus">
											terms and conditions
										</a>
										.
										<span></span>
									</label>
									<span class="m-form__help"></span>
								</div>
							</div> -->
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Daftar Baru
								</button>
								<button [disabled]="loading"  id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">
									Batal
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Lupa Kata Laluan ?
							</h3>
							<div class="m-login__desc">
								Masukkan alamat emel untuk set semula kata laluan:
							</div>
						</div>
						<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertForgotPass></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" id="m_email" autocomplete="off">
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
									Hantar
								</button>
								<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
									Batal
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="m-stack__item m-stack__item--center">
				<div class="m-login__account">
					<span class="m-login__account-msg">
						Tiada akaun ?
					</span>
					&nbsp;&nbsp;
					<a href="javascript:;" id="m_login_signup" (click)="register()" class="m-link m-link--focus m-login__account-link">
						Daftar Baru
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url(./assets/app/media/img//bg/bg-4.jpg)">
		<!-- <div class="m-grid__item m-grid__item--middle">
			<h3 class="m-login__welcome">
				Join Our Community
			</h3>
			<p class="m-login__msg">
				Lorem ipsum dolor sit amet, coectetuer adipiscing
				<br>
				elit sed diam nonummy et nibh euismod
			</p>
		</div> -->
	</div>
</div>
